<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy; <a href="#">Lunar Web Design Studio</a> by <a href="#">Xayaseth</a>
        </small>
        <nav>
            <ul>
                <li><%= link_to "About", about_path %> </li>
            </ul>
        </nav>
    </footer>
</div>